# municipal_water_withdrawal_per_capita

Because AQUASTAT doesn't provide this indicator, we want to calculate this indicator using municipal_water_withdrawal_as_pct_of_total_withdrawal and total_water_withdrawal_per_capita data.

In [1]:
import pandas as pd
from ddf_utils.model import DDFcsv

In [2]:
dp = DDFcsv.from_path('../../').ddf

In [3]:
[x for x in dp.concepts.keys() if 'municipal' in x]

['area_equipped_for_irrigation_by_direct_use_of_non_treated_municipal_wastewater',
 'area_equipped_for_irrigation_by_direct_use_of_not_treated_municipal_wastewater',
 'area_equipped_for_irrigation_by_direct_use_of_treated_municipal_wastewater',
 'capacity_of_the_municipal_wastewater_treatment_facilities',
 'collected_municipal_wastewater',
 'direct_use_of_not_treated_municipal_wastewater_for_irrigation_purposes',
 'direct_use_of_treated_municipal_wastewater',
 'direct_use_of_treated_municipal_wastewater_for_irrigation_purposes',
 'municipal_water_withdrawal_as_pct_of_total_withdrawal',
 'municipal_water_withdrawal_per_captia',
 'not_treated_municipal_wastewater',
 'not_treated_municipal_wastewater_discharged_secondary_water',
 'number_of_municipal_wastewater_treatment_facilities',
 'pct_of_area_equipped_for_irrigation_by_direct_use_of_non_treated_municipal_wastewater',
 'pct_of_area_equipped_for_irrigation_by_direct_use_of_treated_municipal_wastewater',
 'treated_municipal_wastewater_discharged_secondary_water']

In [4]:
[x for x in dp.concepts.keys() if 'withdrawal' in x]

['agricultural_water_withdrawal_as_pct_of_total_renewable_water_resources',
 'agricultural_water_withdrawal_as_pct_of_total_water_withdrawal',
 'fresh_groundwater_withdrawal',
 'industrial_water_withdrawal_as_pct_of_total_water_withdrawal',
 'mdg_7_5_freshwater_withdrawal_as_pct_of_total_renewable_water_resources',
 'municipal_water_withdrawal_as_pct_of_total_withdrawal',
 'municipal_water_withdrawal_per_captia',
 'total_freshwater_withdrawal',
 'total_water_withdrawal_per_capita']

In [5]:
# municipal_water_withdrawal_as_pct_of_total_withdrawal
# total_water_withdrawal_perd_capita

In [6]:
municipal_water_withdrawal = dp.get_datapoints('municipal_water_withdrawal_as_pct_of_total_withdrawal', 
                                               ('area', 'year')).data.compute()
total_water_withdrawal = dp.get_datapoints('total_water_withdrawal_per_capita', 
                                           ('area', 'year')).data.compute()

In [7]:
municipal_water_withdrawal

     area  year  municipal_water_withdrawal_as_pct_of_total_withdrawal
0     afg  1987                                           0.999958
1     afg  1992                                           0.937688
2     afg  1997                                           0.859554
3     afg  2002                                           0.855760
4     afg  2007                                           0.998385
...   ...   ...                                                ...
1244  zwe  2002                                          14.007134
1245  zwe  2007                                          11.904762
1246  zwe  2012                                          16.004840
1247  zwe  2017                                          14.605732
1248  zwe  2018                                          17.207494

[1249 rows x 3 columns]

In [8]:
total_water_withdrawal

     area  year  total_water_withdrawal_per_capita
0     afg  1977                        1007.380488
1     afg  1982                        1528.411841
2     afg  1987                        2250.077427
3     afg  1992                        1619.567311
4     afg  1997                        1075.032191
...   ...   ...                                ...
1336  zwe  2002                         351.756566
1337  zwe  2007                         291.287755
1338  zwe  2012                         263.898049
1339  zwe  2017                         234.543442
1340  zwe  2018                         261.197570

[1341 rows x 3 columns]

In [9]:
municipal_water_withdrawal = municipal_water_withdrawal.set_index(['area', 'year'])
total_water_withdrawal = total_water_withdrawal.set_index(['area', 'year'])

In [10]:
df = municipal_water_withdrawal.join(total_water_withdrawal, how='outer')

In [11]:
df

           municipal_water_withdrawal_as_pct_of_total_withdrawal  \
area year
afg  1977                                                NaN
     1982                                                NaN
     1987                                           0.999958
     1992                                           0.937688
     1997                                           0.859554
...                                                      ...
zwe  2002                                          14.007134
     2007                                          11.904762
     2012                                          16.004840
     2017                                          14.605732
     2018                                          17.207494

           total_water_withdrawal_per_capita
area year
afg  1977                        1007.380488
     1982                        1528.411841
     1987                        2250.077427
     1992                        1619.567311
     1997                        1075.032191
...                                      ...
zwe  2002                         351.756566
     2007                         291.287755
     2012                         263.898049
     2017                         234.543442
     2018                         261.197570

[1341 rows x 2 columns]

In [12]:
df2 = df.copy()

In [13]:
df2['municipal_water_withdrawal_per_captia'] = df2['total_water_withdrawal_per_capita'] * df2['municipal_water_withdrawal_as_pct_of_total_withdrawal'] / 100.0

In [14]:
res = df2['municipal_water_withdrawal_per_captia'].dropna()

In [15]:
res

area  year
afg   1987    22.499826
      1992    15.186491
      1997     9.240485
      2002     7.693543
      2007     7.505387
                ...
zwe   2002    49.271015
      2007    34.677114
      2012    42.236459
      2017    34.256787
      2018    44.945557
Name: municipal_water_withdrawal_per_captia, Length: 1249, dtype: float64

In [16]:
res.to_csv('../../ddf--datapoints--municipal_water_withdrawal_per_captia--by--area--year.csv')

In [17]:
concepts = dp.concepts

In [18]:
pd.DataFrame.from_records([x.to_dict() for x in concepts.values() if x.concept_type == 'measure'])

,concept,concept_type,name,variable_id
0,agricultural_water_withdrawal_as_pct_of_total_...,measure,Agricultural water withdrawal as % of total re...,4273
1,agricultural_water_withdrawal_as_pct_of_total_...,measure,Agricultural water withdrawal as % of total wa...,4254
2,agriculture_value_added_pct_gdp,measure,"Agriculture, value added (% GDP)",4113
3,agriculture_value_added_to_gdp,measure,"Agriculture, value added to GDP",4548
4,arable_land_area,measure,Arable land area,4101
...,...,...,...,...
167,total_water_withdrawal_per_capita,measure,Total water withdrawal per capita,4257
168,treated_municipal_wastewater_discharged_second...,measure,Treated municipal wastewater discharged (secon...,4510
169,urban_population,measure,Urban population,4106
170,urban_population_with_access_to_safe_drinking_...,measure,Urban population with access to safe drinking-...,4116
171,water_resources_total_external_renewable,measure,Water resources: total external renewable,4182

In [19]:
cdf = pd.DataFrame.from_records([x.to_dict() for x in concepts.values() if x.concept_type == 'measure'])

In [20]:
cdf[cdf.concept == 'area_equipped_for_irrigation_by_direct_use_of_treated_municipal_wastewater']

,concept,concept_type,name,variable_id
12,area_equipped_for_irrigation_by_direct_use_of_...,measure,Area equipped for irrigation by direct use of ...,4533

In [21]:
cdf = cdf.set_index('concept')

In [22]:
cdf.loc['municipal_water_withdrawal_per_captia'] = ['measure', 'Municipal Water Withdrawal Per Captia', '']

In [23]:
cdf.sort_index().to_csv('../../ddf--concepts--continuous.csv')