In [9]:
import pandas as pd
import requests
from ddf_utils.factory.common import download, requests_retry_session

In [4]:
frontpage = "https://www.fao.org/aquastat/statistics/query/index.html"
endpoint = "https://www.fao.org/aquastat/statistics/query/results.html"
csv_endpoint = "https://www.fao.org/aquastat/statistics/query/results.html?csv=2"

In [5]:
cntids = [4,8,12,20,24,28,31,32,36,40,44,48,50,51,52,56,
               64,68,70,72,76,84,90,96,100,104,108,112,116,120,
               124,132,140,144,148,152,156,170,174,178,180,184,
               188,191,192,196,203,204,208,212,214,218,222,226,
               231,232,233,234,242,246,250,262,266,268,270,275,
               276,288,296,300,308,320,324,328,332,336,340,348,
               352,356,360,364,368,372,376,380,384,388,392,398,
               400,404,408,410,414,417,418,422,426,428,430,434,
               438,440,442,450,454,458,462,466,470,478,480,484,
               492,496,498,499,504,508,512,516,520,524,528,548,
               554,558,562,566,570,578,583,584,585,586,591,598,
               600,604,608,616,620,624,626,630,634,642,643,646,
               659,662,670,674,678,682,686,688,690,694,702,703,
               704,705,706,710,716,724,728,729,740,748,752,756,
               760,762,764,768,772,776,780,784,788,792,795,798,
               800,804,807,818,826,834,840,854,858,860,862,882,887,894]

varGrps = [
    4100,4101,4102,4103,4104,4105,4106,4107,4111,4112,4113,4114,4115,4116,
    4150,4151,4154,4155,4156,4157,4158,4159,4160,4161,4162,4164,4165,4168,
    4171,4172,4173,4174,4176,4177,4178,4182,4185,4187,4188,4190,4192,4193,
    4194,4195,4196,4197,4250,4251,4252,4253,4254,4255,4256,4257,4260,4261,
    4262,4263,4264,4265,4269,4270,4273,4275,4300,4303,4304,4305,4307,4308,
    4309,4310,4311,4312,4313,4314,4315,4316,4317,4318,4319,4320,4321,4322,
    4323,4324,4325,4326,4327,4328,4329,4330,4331,4345,4346,4347,4348,4349,
    4350,4351,4352,4353,4354,4355,4356,4357,4358,4359,4360,4361,4362,4363,
    4364,4365,4366,4367,4368,4369,4370,4371,4372,4373,4374,4375,4376,4377,
    4378,4379,4400,4401,4403,4445,4446,4451,4452,4453,4458,4461,4463,4464,
    4465,4466,4469,4470,4471,4472,4473,4474,4475,4490,4491,4493,4509,4510,
    4512,4513,4514,4515,4516,4517,4520,4521,4522,4523,4524,4525,4526,4527,
    4533,4534,4535,4536,4537,4539,4540,4541,4542,4543,4544,4545,4546,4547,
    4548,4549,4550,4551,4552,4553,4554,4555,4556,4557,4558
]

In [6]:
post_data = {
    'regionQuery': 'false',
    'yearGrouping': "SURVEY",
    'showCodes': 'true',
    'yearRange.fromYear': 1958,
    'yearRange.toYear': 2022,
    'cntIds': ','.join(map(str, cntids)),
    'regIds': '',
    'edit': 0,
    'save': 0,
    'query_type': 'querypage',
    'lowBandwidth': 1,
    '_newestOnly': 'on',
    'showValueYears': 'true',
    '_showValueYears': 'on',
    'XAxis': 'YEAR',
    'YAxis': 'AREA',
    'showSymbols': 'true',
    '_showSymbols': 'on',
    '_hideEmptyRowsColumns': 'on'
}

In [7]:
from io import BytesIO
import os

In [10]:
session = requests_retry_session()

In [11]:
session.get(frontpage)

In [12]:
def download_indicator(code, session):
    post_data['varGrpIds'] = str(code)
    res = session.post(endpoint, data=post_data)
    if res.status_code != 200:
        print('POST failed,', res.status_code)
        return
    res = session.get(csv_endpoint)
    if res.status_code != 200:
        print('download csv failed,', res.status_code)
        return
    with open(os.path.join('../source/new/', f'{code}.csv'), 'wb') as f:
        f.write(res.content)

In [13]:
download_indicator(4100, session)

In [22]:
df = pd.read_csv('../source/new/4100.csv')

In [23]:
df.reset_index()

,index,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol,Md
0,AFG|Afghanistan,4.0,Total area of the country (excl. coastal water),4100.0,1962.0,65286.0,X,NaN,6768.0
1,AFG|Afghanistan,4.0,Total area of the country (excl. coastal water),4100.0,1967.0,65286.0,X,NaN,6768.0
2,AFG|Afghanistan,4.0,Total area of the country (excl. coastal water),4100.0,1972.0,65286.0,X,NaN,6768.0
3,AFG|Afghanistan,4.0,Total area of the country (excl. coastal water),4100.0,1977.0,65286.0,X,NaN,6768.0
4,AFG|Afghanistan,4.0,Total area of the country (excl. coastal water),4100.0,1982.0,65286.0,X,NaN,6768.0
...,...,...,...,...,...,...,...,...,...
2420,-- General,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2421,-- Accuracy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2422,(c) FAO of the UN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2423,The information contained in AQUASTAT is provi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2424,FAO [Year of publication].AQUASTAT Database. A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
import functools

In [17]:
import numpy as np

In [18]:
len(varGrps)

193

In [19]:
193 / 5

38.6

In [20]:
vsplit = []

for i in range(5):
    s = varGrps[39*i:39*(i+1)]
    vsplit.append(s)

In [21]:
list(map(lambda x: len(x), vsplit))

[39, 39, 39, 39, 37]

In [24]:
from multiprocessing import Pool

In [25]:
def run(lst):
    session = requests_retry_session()
    session.get(frontpage)
    for x in lst:
        if os.path.exists(os.path.join('../source/new/', f'{x}.csv')):
            continue
        print(x)
        download_indicator(x, session)

In [26]:
with Pool(5) as p:
    p.map(run, vsplit)

4102
4193
4521
4369
POST failed, 504
4194
4317
4111
POST failed, 404
4318
4524
POST failed, 404
4325
4195
POST failed, 504
4526
4379
POST failed, 404
4458
4196
4112
4327
4250
POST failed, 404
4251
4539
POST failed, 404
4252
4475
POST failed, 404
4253
POST failed, 404
4254
POST failed, 404
4155
4345
4540
4256
4156
4346
4541
4261
POST failed, 404
4264
POST failed, 404
4265
4348
4542
4269
POST failed, 404
4270
4543
POST failed, 404
4275
4349
4303
4350
4304
4351
4308
POST failed, 404
4311
POST failed, 404
4312
4352
POST failed, 404
4313
POST failed, 404
4314
POST failed, 404
4315
POST failed, 404
4316
POST failed, 404
4353
4354
4355
4356
4357
4358
4359
4360
4361
4362
4363
4364
4365
4366
4367
4368

In [27]:
with Pool(5) as p:
    p.map(run, vsplit)

4524
4379
4317
POST failed, 404
4318
POST failed, 404
4475
4193
POST failed, 404
POST failed, 404
4250
POST failed, 404
4251
POST failed, 404
4252
POST failed, 404
4253
POST failed, 404
4261
POST failed, 404
4264
POST failed, 404
4269
POST failed, 404
4270
POST failed, 404
4308
POST failed, 404
4311
POST failed, 404
4312
POST failed, 404
4313
POST failed, 404
4314
POST failed, 404
4315
POST failed, 404
4316
POST failed, 404